@import url(reset.css);
@import url(../fonts/Arcane\ Nine.otf);
@import url(../fonts/friz-quadrata-regular-os-5870333951e7c.ttf);

:root{
    --couleur-base: #27293A;
    --couleur-foncee: #3D4258;
    --couleur-foncee-2: #6f7280;
    --couleur-texte: #CFE4D5;
    --couleur-texte-2: #aeb3af;
    --couleur-accent-1:#CE4B64;
    --couleur-accent-2:#E1DAA0;
    --couleur-accent-3:#6FA0A4;

    --police-principale: "Arcane Nine" ;
    --police-secondaire:"Friz quadrata";
    
    --texte-p:1em;
    --texte-h1:2.5em;
    --texte-h2: 2em;
    --text-h3:1.5em;

    --espace-top: 1em
}

html, body{
    background-color: var(--couleur-base);
    color: var(--couleur-texte); 
    scroll-behavior: smooth;

    scroll-padding: 5rem; 

    font-family: var(--police-principale) ;
}

h1{
    font-size: var(--texte-h1);
    text-align: center;
    padding: var(--espace-top); 
    
}

h2{
    font-size: var(--texte-h2);
    text-align: center;
    padding: var(--espace-top); 
}

h3{
    font-size: var(--text-h3);
    text-align: center;
    padding: var(--espace-top);
}

p{
    font-size: var(--texte-p);
}

a{
    color: var(--couleur-texte); 
    cursor: pointer;
}

hr{
    height: 1px;
    background-color: white;
}
    
section, article{
    /* border: 2px solid red; */
    min-height: 100vh; 
    scroll-snap-type: y proximity;
}

header{
    top: 0;
   position: sticky; 
   z-index: 10;
}

nav{
    background-color: var(--couleur-accent-3); 
    height: 5rem; 
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav ul li a{
    color: var(--couleur-foncee);
}

nav ul:has(li:hover){
    li:hover a{
        color: var(--couleur-base);
    } 
    li:not(:hover) a{
        color: var(--couleur-foncee-2);
    }
}

video{
    cursor: pointer;
    width: 80%;
    display: flex;
    margin: auto auto;
    padding: 3rem;
}

article{
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to right, #27293a3b 50%, #27293a3b 50%),  url(../images/jixn\ vs\ vi.webp);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

article div{
    width: 33%;
    height: 100%;
}

article img{
    height: 30em;
    padding: 3em;
    filter: brightness(50%);
    transition: all ease-in-out 250ms;
}

article img:hover{
    filter: brightness(100%);
    height: 35em;
}

article p{
    padding: 7em;
    text-align: center;
    font-family: var(--police-secondaire);
}

/*tableau*/
table{
    background-color: var(--couleur-foncee);
    width: 90%;
    border: 2px solid var(--couleur-base); 
    margin: 0 auto;
    background-image: url(../images/jinx\ workshop.webp);
    background-position: center;
    box-shadow: 10px 0 30px 3px black;
}

thead, tfoot{
    background-color: #6FA0A4;
}

tbody td{
    height: 9rem;
}

th, tfoot td{
 padding: 1em; 
 text-align: center;
}

th, td{
    border: 2px solid var(--couleur-base);
    width: 15%;
    text-align: center;
}

tfoot td{
    height: 5rem;
}

td{
    vertical-align: middle;
}


/* Form  */

form{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    border: 2px solid var(--couleur-accent-3);
    accent-color: var(--couleur-accent-2);
    padding: 2rem; 
}

form input{
    display: flex;
    width: 100%;
    border: none;
}

form p{
    margin-bottom: 0.5rem;
}

form input + .message-erreur{
    display: none;
    font-family: var(--police-secondaire);
}

form input:invalid + .message-erreur{
    display: block;
    color: var(--couleur-accent-1);
}

form input:not([name="choix"]):valid, form select:valid, form textarea:valid{
    border: 2px solid var(--couleur-accent-2);
    box-shadow: 0 0 1px 1px var(--couleur-accent-2);
}

form input:not([name="choix"]):invalid, form select:invalid, form textarea:invalid{
    border: 2px solid var(--couleur-accent-1);
    box-shadow: 0 0 1px 1px var(--couleur-accent-1);
}

form input:not([name="choix"]):focus, form select:focus , form textarea:focus{
    border: 5px solid var(--couleur-accent-2);
    box-shadow: 0 0 1px 1px var(--couleur-accent-1);
}

form .input-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    padding: 0.5rem; 
}

form .choix {
    padding: 0.5rem;
}

form .btn-form{
    display: flex;
    justify-content: center;
    padding:1rem;
}

form .btn-form>input{
    width: 7rem;
    padding: 1rem; 
    border-radius:20%;
    text-align:center;
}


.acceuil{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.galerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 5rem;
    padding: 10rem;  
}

.galerie img{
    max-height: fit-content;
    flex-basis: calc(33% - (5rem * 2 / 3)); 
    cursor: pointer;
    transition: all ease-in-out 250ms;
}

.galerie:has(img:hover){
    img:hover{
        box-shadow: 4px 4px 10px 4px var(--couleur-accent-3);
    }
    img:not(:hover){
        filter: saturate(0%); 
        filter:brightness(60%);
    }
}

.inscription{
    background: linear-gradient(to right, #27293a69 50%, #27293a69 50%),  url(../images/personnage.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.pied-de-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around ;
}

.pied-de-page ul{
    display: flex;
    gap: 1rem;
}

.pied-de-page ul img{
    height: 4em;
    filter: saturate(0%);
    transition: all ease-in-out 250ms;
}

.pied-de-page ul img:hover{
    filter: saturate(100%);
}


.pied-de-page .description-departement{
    width: 25%;
    text-align: center;
}

.pied-de-page .description-departement p{
    font-family: var(--police-secondaire);
}

.pied-de-page .liens-imp ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}