@import url(reset.css);
@import url(../fonts/Arcane\ Nine.otf);

:root{
    --couleur-base: #27293A;
    --couleur-foncee: #3D4258;
    --couleur-texte: #CFE4D5;
    --couleur-texte-2: #aeb3af;
    --couleur-accent-1:#CE4B64;
    --couleur-accent-2:#E1DAA0;
    --couleur-accent-3:#6FA0A4;

    --police-principale: "Arcane Nine" ;
    
    --texte-p:1em;
    --texte-h1:2.5em;
    --texte-h2: 2em;
    --text-h3:1.5;

    --espace-top: 1em
}

html, body{
    background-color: var(--couleur-base);
    color: var(--couleur-texte);
    scroll-behavior: smooth;

    scroll-padding: 10rem;

    font-family: var(--police-principale) ;
    
}

h1{
    font-size: var(--texte-h1);
    text-align: center;
    padding-top: var(--espace-top);
}

h2{
    font-size: var(--texte-h2);
    text-align: center;
    padding-top: var(--espace-top);
    padding-bottom: var(--espace-top);
    
}

h3{
    font-size: var(--text-h3);
}

p{
    font-size: var(--texte-p);
}

a{
    color: var(--couleur-texte);
    cursor: pointer;
}
    
section, article{
    border: 2px solid red;
    min-height: 100vh;
    scroll-snap-align:start;
}

article{
    background-image: url(../images/jixn\ vs\ vi.webp);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

header{
    top: 0;
   position: sticky; 
   z-index: 10;
}

nav{
    background-color: var(--couleur-accent-3);
    height: 7rem;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* nav ul li a:hover{
    color: var(--couleur-foncee);
} */

nav ul:has(li:hover){
    li:hover a{
        color: var(--couleur-base);
    } 
    li:not(:hover) a{
        color: var(--couleur-texte-2);
    }
}


video{
    cursor: pointer;
    width: 80%;
    height: 80%;
    display: flex;
    margin: auto auto;

    box-shadow: 10px 0 30px 3px black;
}


/*tableau*/
table{
    background-color: var(--couleur-foncee);
    width: 90%;
    height: 100%;
    border: 2px solid var(--couleur-base); 
    margin: 0 auto;
    
    background-image: url(../images/7mSqO-sYvxV22xxZTdTp7vvj4SDkbIqQzphakadXiEI.webp);
    background-position: center;

    box-shadow: 10px 0 30px 3px black;
}

thead, tfoot{
    background-color: #6FA0A4;
}

th, tfoot td{
 padding: 1em;
 text-align: center;
}

th, td{
    border: 2px solid var(--couleur-base);
    width: 15%;
    text-align: center;
}

td{
    height: 30%;
    vertical-align: middle;
}


/* Form  */

form{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    border: 2px solid var(--couleur-accent-3);
    accent-color: var(--couleur-accent-2);
    padding: 2rem;
    height: 100%;
}

form input{
    display: flex;
    width: 100%;
    border: none;
}

form input + .message-erreur{
    display: none;
}

form input:invalid + .message-erreur{
    display: block;
    color: var(--couleur-accent-1);
}

form input:not([name="choix"]):valid, form select:valid, form textarea:valid{
    border: 2px solid var(--couleur-accent-2);
    box-shadow: 0 0 1px 1px var(--couleur-accent-2);
}

form input:not([name="choix"]):invalid, form select:invalid, form textarea:invalid{
    border: 2px solid var(--couleur-accent-1);
    box-shadow: 0 0 1px 1px var(--couleur-accent-1);
}

form input:not([name="choix"]):focus, form select:focus , form textarea:focus{
    border: 5px solid var(--couleur-accent-2);
    box-shadow: 0 0 1px 1px var(--couleur-accent-1);
}

form .input-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    padding: 0.5rem; 
}

form .btn-form{
    display: flex;
    justify-content: center;
    padding:1rem;
}

form .btn-form input{
    width: 7rem;
    padding: 1rem; 
    border-radius:20%;
    text-align:center;
}

.acceuil{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}



.galerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    padding: 15rem;
}

.galerie img{
    flex-basis: calc(33% - (2rem * 2 / 3)); 
    height:20%;
}

.inscription{
    background: url(../images/personnage.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}


.pied-de-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around ;
}

.pied-de-page ul{
    display: flex;
    gap: 1rem;
}

.pied-de-page ul img{
    height: 5em;
    filter: saturate(0%);
    transition: all ease-in-out 250ms;
}

.pied-de-page ul img:hover{
    filter: saturate(100%);
}

.pied-de-page .jsp{
    display: flex;;
}
